

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
</head>

<body lang=EN-US style='tab-interval:.5in'>

<b><center>Acceptable Use Policy 2015-16</center></b><br>

Access to the Kents Hill School computer network and Internet
provides virtually unlimited resources and information to the community, but,
in turn, access requires responsible and appropriate behavior on the part of
all users. Users should adhere to the same code of ethics that governs all
other aspects of behavior for the Kents Hill School
community. All users of information technology are expected to behave &amp;
communicate in a responsible, ethical and appropriate manner.<br><br>

All technology and telecommunications resources at Kents Hill School are tools primarily for educating our students and facilitating the
operation of the school. The purpose of this policy is to maintain the safety
and security of the school and its community, in compliance with both the school.s
general code of conduct and generally accepted netiquette guidelines, and laws,
such as the federally-mandated Internet Safety Policies of the Children.s
Internet Protection Act (CIPA), the Copyright Act (Title 17 of the US Code),
and the Federal Rules of Civil Procedure (FRCP). This policy outlines key
principles with regard to all use and expectations of privacy.<br>


1. Users must read and agree to this Acceptable Use Policy Agreement to indicate their
knowledge of and consent to follow this policy. Use of computers, networks
&amp; technology services will be permitted only upon the user.s acceptance of
the Acceptable Use Policy.<br><br>


2. The school makes computer, Internet, &amp; telecommunications resources &amp;
services available to users as appropriate for their positions. Access should
be primarily for school business and instructional purposes. However, limited
personal uses of these resources is authorized so long as such use is
occasional, of reasonable duration, does not adversely affect users or school
network performance, and does not violate this Acceptable Use Policy agreement,
compromise intellectual property rights, or violate state or federal laws.<br><br>


3. A user may access the network, Internet and other services via his/her own personal
logon only. Using another person.s logon or accessing another person.s account
is prohibited. The sharing of logons or passwords is also prohibited. At no
time should you be accessing anyone else.s account or allowing anyone else
access to your account. Users should lock (password protect) or log off
unattended computers to ensure the integrity of their access.<br><br>


4. There are some resources and activities that are inappropriate at any time (eg) pornography, gambling, software or media piracy,
commercial or illegal ventures, libelous or threatening communication, etc.)
Certain other activities may be limited or curtailed to ensure the performance
or integrity of network services for the community. Inappropriate or harmful
use of network resources is prohibited. Content-filtering software is used to
help protect against access to inappropriate materials, but cannot be expected to prevent all such access. It is the user's responsibility
to use good judgment in accessing &amp; distributing material. With millions of
websites, errors can occur. If the user feels that material is filtered in
error, Information Services should be notified.<br><br>


5. Keep in mind that everything you send or post online using your school email account,
online community website, or other telecommunication service is a reflection of
yourself as a professional and as a representative of
the school. Please consider this carefully when reviewing the content of your
messages and in accessing &amp; posting online material.<br><br>


<b>Copyright</b> Computers and tablets issued by the school are pre-loaded with software
required for work. While users have the ability to install additional software
(or apps), they also have the responsibility of ensuring that any software
installed is in compliance with copyright law. In order to ensure legitimacy,
it is important for the user to maintain documentation regarding software
purchase and license. To effectively manage software licenses, users should
keep the software product name, version number, serial number, and also the
proof of purchase (sales orders, invoices, and receipts) for each software
program purchased, downloaded or installed.<br><br>


<b>Message Content</b> Once you have sent or posted a message or material, it is out of your
control. Don.t write, publish, or communicate online anything you wouldn.t want
repeated publicly. Be aware that even messages, documents or material that you
consider informal, casual, or personal may be retained by the school or other
entity and shared in any litigation matters, as required by federal
regulations. Be aware that the school does retain &amp; archive electronic
files &amp; communications, in compliance with the Federal Rules of Civil
Procedure (FRCP).<br><br>


<b>Social Networking </b> The growing use of the Internet has blurred the
lines between professional and personal conduct. School users should understand
that certain expectations for professional conduct extend into the personal
online world of social networking, blogs, and other communication tools,
especially regarding mention of the School, or members of the School community.<br><br>


<b>Protection of Privacy</b> Users shall respect the privacy of the School community and not
divulge or post online any identifying information of any member of the School
community without permission (including, but not limited to names, addresses,
photos, videos, email addresses, phone numbers.)<br><br>


<b>Communications</b> between Students Faculty and staff is encouraged using electronic media in
creative ways to foster communication and learning among students. It is
important, however, that school employees avoid even the appearance of
impropriety when dealing with students. Faculty and staff shall not have online
interactions with students on social networking sites outside of academic or
classroom use. In particular, employees shall not invite students to have
access to their personal sites on social networks like Facebook, Twitter or
MySpace and shall politely decline invitations from students to do the same.
School employees shall also avoid engaging in personal communications with
students unrelated to academic or extracurricular activities, such as writing
personal letters or emails to students, .texting. students, instant messaging
students, calling students on cell phones or allowing students to make personal
calls to them. Faculty and staff shall never send off-color or inappropriate
pictures or other materials to students; discuss or reveal to students personal
matters about their private lives or invite students to do the same (other than
professional counseling by a school counselor). Employees shall also never
engage in sexualized dialogue with students, whether in person, by phone, via
the Internet, or in writing.<br><br>


<b>Personal Social Networking </b>The school reaffirms that users should
follow professional guidelines for all online interactions, even when not
school related. Users should exercise appropriate discretion when using social
networks for personal communications. Before posting pictures or messages on a
social networking site, users should ask themselves whether they would feel
comfortable having the material viewed by a student, parent, administrator,
colleague or other member of the school community. Conduct or material that
reflects poorly upon personnel or the School may be grounds for disciplinary
action in accordance with the Faculty and Staff or Student Handbooks.<br><br>


<b>Prohibited Activities </b>The following are examples of activities
that are prohibited and may result in disciplinary action, up to and including
termination/expulsion and legal action. They include, but are not limited to:<br><br>


Accessing the accounts, files or communications of others without appropriate
authorization<br><br>


Inappropriate use of e-mail, chat, messaging or other online communications<br><br>


Ignoring software &amp; media piracy copyright laws in the downloading or sharing of
text, program code, music, or video<br><br>


Attempting to subvert network security, to impair network functionality, or bypass a
restriction set by the school (hacking or cracking)<br><br>


Commercial ventures<br><br>


Communications or actions that are addressed to another user in any manner that could
reasonably cause him or her distress, embarrassment, or unwarranted attention,
as this may constitute harassment<br><br>


Personal attacks, including attacks based on race, color, religion, sex, gender, sexual
orientation, national origin, ancestry, age, disability, veteran status, or any
other factors prohibited by federal, state, or local law<br><br>


Browsing, retrieval, display, or distribution of vulgar, offensive, or inflammatory
language, material, or images, including sexually explicit materials, language,
or pictures<br>

Engaging in any illegal activity.<br><br>

<b>Personal safety, network health, and appropriate conduct </b>are the chief goals of this Acceptable Use Policy.<br><br>


The outlined policies try to guide the user to 
appropriate, responsible, and safe use of computers, telecommunications devices
and any other related technologies &amp; services.<br><br>


<b>Privacy and Monitoring</b> The school retains the right to monitor network use as well as use
of computers &amp; other devices, email &amp; other communications &amp;
services. Users should not have an expectation of privacy when using computers
&amp; devices, networks, Internet, or electronic communication resources. This
includes, but is not limited to, monitoring, viewing, and accessing, Internet 
sites, e-mail &amp; other communications services and accounts;<br><br>


<b>Network activities and accounts;</b> All data
and software stored on computers, disks, and other devices.<br><br>


<b>All users explicitly agree to this condition in consideration for the ability to use
computers, networks and other telecommunications resources &amp; services as
members or guests of the school.</b><br><br>

<b>Policy Violations</b> Access to computers &amp; other devices, networks, and the Internet
is a privilege, not a right.  This privilege may be restricted or revoked at any time for use not consistent with
appropriate use as outlined in this policy.  Consequences for violations of this policy include, but are not limited to:<br><br>

Loss of computer access privileges;<br><br>


Loss of network access privileges, including Internet and/or e-mail and other
messaging;<br><br>


Disciplinary action by the school, including termination/expulsion, and/or Legal action and prosecution by the authorities.<br><br>


The following section should be completed and signed by the user. Please Check the Accept box and click the submit button. <br><br>

<b>I have read and understand the Kents Hill School Acceptable Use
Policy. I agree to follow the rules and guidelines offered in this policy. I
understand that if I violate the rules or engage in inappropriate usage, my access
can be suspended or terminated, and I may face other disciplinary or legal
measures.</b><br><br>


</body>

</html>
<%= render 'form' %>

<%= link_to 'Back', aupforms_path %>
